<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
<body>
<h5>Hi</h5>
<p>You requested a new password. Please click on the link below. The link won't be valid after one hour.</p>
<p>
    <a th:href="${urlResetPwd}">Click here to reset password</a>
</p>
<p>
    Regards, <br/>
    <em th:text="${sign}"></em>
    <p th:text="${location}"></p>
</p>
</body>
</html>